<ng-container *ngIf= "(userAccount$ | async) && project && config && schemaUrl && projectMetadataSchema; else loading">
  <app-metadata-form name="project"
                     [useVf]="true"
                     [schema]="projectIngestSchema"
                     [data]="project"
                     [config]="config"
                     [selectedTabKey]="projectFormTabKey"
                     (cancel)="onCancel($event)"
                     (back)="decrementProjectTab()"
                     (tabChange)="onTabChange($event)"
                     (save)="onSave($event)"
                     (formValueChange)="onFormValueChange($event)">
  </app-metadata-form>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
