<div class="vf-grid">
  <h1 class="vf-text vf-text-heading--2">All Projects</h1>
  <div>
    <a class="vf-button vf-button--primary vf-button--sm vf-u-float__right" routerLink="/projects/register" >New Project</a>
  </div>
</div>
<p class="vf-text-body vf-text-body--3 vf-u-text-color--grey">These are all the projects created for the Human Cell Atlas.</p>

<li class="mat-form-field--inline">

  <mat-form-field class="search-bar">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search Projects" [(ngModel)]="searchText" (keydown.enter)="onKeyEnter(searchText)">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''; onKeyEnter(searchText)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Filter by status" (selectionChange)="onFilterByState($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of wranglingStates" [value]="transformWranglingState(state)">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="wranglers$ | async" >
    <mat-select placeholder="Filter by wrangler" (selectionChange)="onFilterByWrangler($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let wrangler of wranglers$ | async" [value]="wrangler.id">{{wrangler.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</li>

<app-project-list [projects]=projects [columns]="columns"></app-project-list>

<ng-container *ngIf="dataSource.page$ | async as page">
  <ng-container *ngIf="page['totalElements'] > 0">
    <mat-paginator [length]="page['totalElements']"
                   [pageSize]="page['size']"
                   [pageIndex]="page['number']"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </ng-container>
</ng-container>
