<div>
  <h4>Graph</h4>
  <ngx-graph *ngIf="done"
             class="chart-container"
             [view]="[800, 550]"
             [enableZoom]="true"
             [autoCenter]="true"
             [autoZoom]="true"
             [draggingEnabled]="true"
             [panningEnabled]="true"
             [links]="links"
             [nodes]="nodes"
             [zoomToFit$]="zoomToFit$"
             [update$]="update$"
             [showMiniMap]="true"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label">
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="node.data.color"
        />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%"
          >
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>

</div>
<div class="process-details">
  <div>
    <h4>Inputs</h4>
    <div class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
      <ng-container *ngFor="let input of inputBiomaterials">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="input"
            [idPath]="'content.biomaterial_core.biomaterial_id'"
            [namePath]="'content.biomaterial_core.biomaterial_name'"
            [descriptionPath]="'content.biomaterial_core.biomaterial_description'">
            <button (click)="removeInputBiomaterial(input)" style="cursor: pointer"
                    matTooltip="This will not remove the biomaterial from the submission. This will only remove the linking between this biomaterial to this process.">
              Unlink Biomaterial
            </button>
          </app-process-node-details>
        </div>
      </ng-container>
      <ng-container *ngFor="let input of inputFiles">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="input"
            [idPath]="'content.file_core.file_name'">
            <button (click)="removeInputFile(input)" style="cursor: pointer" matTooltip="Unlink File">
              Unlink File
            </button>
          </app-process-node-details>
        </div>
      </ng-container>

      <app-metadata-picker [entityType]="'biomaterials'"
                           [projectId]="projectId"
                           (picked)="onInputBiomaterialPicked($event)">
      </app-metadata-picker>

      <ng-container *ngFor="let input of inputBiomaterialsToAdd">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="input"
            [idPath]="'content.biomaterial_core.biomaterial_id'"
            [namePath]="'content.biomaterial_core.biomaterial_name'"
            [descriptionPath]="'content.biomaterial_core.biomaterial_description'">
          </app-process-node-details>
        </div>
      </ng-container>
      <button *ngIf="inputBiomaterialsToAdd.length > 0" (click)="addInputBiomaterials()"
              style="cursor: pointer" matTooltip="Link Biomaterials">

        Link Biomaterials
      </button>
      <app-metadata-picker [entityType]="'files'"
                           [projectId]="projectId"
                           (picked)="onInputFilePicked($event)">
      </app-metadata-picker>

      <ng-container *ngFor="let input of inputFilesToAdd">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="input"
            [idPath]="'content.file_core.file_name'">
          </app-process-node-details>
        </div>
      </ng-container>

      <button *ngIf="inputFilesToAdd.length > 0" (click)="addInputFiles()" style="cursor: pointer"
              matTooltip="Link Files">
        Link Files
      </button>

    </div>
  </div>

  <div>
    <h4>Protocols</h4>
    <div class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
      <ng-container *ngFor="let protocol of protocols">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="protocol"
            [idPath]="'content.protocol_core.protocol_id'"
            [namePath]="'content.protocol_core.protocol_name'"
            [descriptionPath]="'content.protocol_core.protocol_description'">
            <button (click)="removeProtocol(protocol)" style="cursor: pointer" matTooltip="Unlink Protocol">
              Unlink Protocol
            </button>
          </app-process-node-details>
        </div>
      </ng-container>

      <app-metadata-picker [entityType]="'protocols'"
                           [projectId]="projectId"
                           (picked)="onProtocolPicked($event)">
      </app-metadata-picker>

      <ng-container *ngFor="let protocol of protocolsToAdd">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="protocol"
            [idPath]="'content.protocol_core.protocol_id'"
            [namePath]="'content.protocol_core.protocol_name'"
            [descriptionPath]="'content.protocol_core.protocol_description'">
          </app-process-node-details>
        </div>
      </ng-container>
      <button *ngIf="protocolsToAdd.length > 0" (click)="addProtocols()" style="cursor: pointer"
              matTooltip="Link Protocols">
        Link Protocols
      </button>
    </div>
  </div>
  <div>
    <h4>Outputs</h4>
    <div class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
      <ng-container *ngFor="let output of outputBiomaterials">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="output"
            [idPath]="'content.biomaterial_core.biomaterial_id'"
            [namePath]="'content.biomaterial_core.biomaterial_name'"
            [descriptionPath]="'content.biomaterial_core.biomaterial_description'">
            <button (click)="removeOutputBiomaterial(output)" style="cursor: pointer"
                    matTooltip="Unlink Biomaterial">
              Unlink Biomaterial
            </button>
          </app-process-node-details>
        </div>
      </ng-container>
      <ng-container *ngFor="let output of outputFiles">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="output"
            [idPath]="'content.file_core.file_name'">
            <button (click)="removeOutputFile(output)" style="cursor: pointer" matTooltip="Unlink File">
              Unlink File
            </button>
          </app-process-node-details>
        </div>
      </ng-container>
      <app-metadata-picker [entityType]="'biomaterials'"
                           [projectId]="projectId"
                           (picked)="onDerivedBiomaterialPicked($event)">
      </app-metadata-picker>

      <ng-container *ngFor="let output of outputBiomaterialsToAdd">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="output"
            [idPath]="'content.biomaterial_core.biomaterial_id'"
            [namePath]="'content.biomaterial_core.biomaterial_name'"
            [descriptionPath]="'content.biomaterial_core.biomaterial_description'">
          </app-process-node-details>
        </div>
      </ng-container>

      <button *ngIf="outputBiomaterialsToAdd.length > 0" (click)="addOutputBiomaterials()"
              style="cursor: pointer" matTooltip="Link Biomaterials">
        Link Biomaterials
      </button>

      <app-metadata-picker [entityType]="'files'"
                           [projectId]="projectId"
                           (picked)="onDerivedFilePicked($event)">
      </app-metadata-picker>

      <ng-container *ngFor="let output of outputFilesToAdd">
        <div class="vf-u-padding__bottom--xl">
          <app-process-node-details
            [metadata]="output"
            [idPath]="'content.file_core.file_name'">
          </app-process-node-details>
        </div>
      </ng-container>

      <button *ngIf="outputFilesToAdd.length > 0" (click)="addOutputFiles()" style="cursor: pointer"
              matTooltip="Link Files">
        Link Files
      </button>
    </div>
  </div>
</div>
