


<!--<app-metadata-field [metadata]="publicationTitleMetadata"-->
<!--                    [control]="publicationTitleControl"-->
<!--                    [id]="publicationTitleKey">-->

<!--</app-metadata-field>-->

<!--<app-metadata-field [metadata]="publicationDoiMetadata"-->
<!--                    [control]="publicationDoiControl"-->
<!--                    [id]="publicationDoiKey">-->

<!--</app-metadata-field>-->

<!--<app-metadata-field [metadata]="publicationUrlMetadata"-->
<!--                    [control]="publicationUrlControl"-->
<!--                    [id]="publicationUrlKey">-->

<!--</app-metadata-field>-->

<!--<app-metadata-field [metadata]="publicationPmidMetadata"-->
<!--                    [control]="publicationPmidControl"-->
<!--                    [id]="publicationPmidId">-->

<!--</app-metadata-field>-->

<!--<app-metadata-field [metadata]="publicationAuthorsMetadata"-->
<!--                    [control]="publicationAuthorsControl"-->
<!--                    [id]="publicationAuthorsId">-->

<!--</app-metadata-field>-->

<!--do we need the PMID here?-->
