<h1 class="vf-text vf-text-heading--2">
  New Project - start
</h1>

<div class="vf-u-padding__top--xxl vf-u-padding__bottom--xxl">
  <div class="vf-u-padding__top--xxl">
    <app-select-radio
      [id]="'doi-radio-option'"
      [label]="'Do you have a DOI publication ID?'"
      [options]="['Yes', 'No']"
      (valueChanged)="onDoiExistence($event)"
      [value]="hasDoi? 'Yes': 'No'">
    </app-select-radio>

    <app-vf-input
      *ngIf="hasDoi"
      dataType="string"
      [error]="showError(publicationDoiCtrl, 'The DOI must be a valid DOI. E.g. 10.1038/s41467-021-26902-8')"
      [formControl]="publicationDoiCtrl"
      [helperText]="'Get started by entering a DOI to help us retrieve your project information'"
      [isRequired]="false"
      [label]="'Publication DOI'">
    </app-vf-input>
  </div>

  <div class="vf-u-padding__top--xxl vf-u-padding__bottom--xxl">
    <app-select-radio
      [id]="'accession-radio-option'"
      [label]="'Do you have an accession?'"
      [options]="['Yes', 'No']"
      (valueChanged)="onAccessionExistence($event)"
      [value]="hasAccession? 'Yes': 'No'">
    </app-select-radio>

    <app-vf-input
      *ngIf="hasAccession"
      dataType="string"
      [error]="showError(accessionCtrl, 'The accession must be valid. E.g. GSE123456 or SRP348406')"
      [formControl]="accessionCtrl"
      [helperText]="'Get started by entering a GEO, SRA, or ENA study accession to your project information'"
      [isRequired]="false"
      [label]="'Accession'">
    </app-vf-input>
  </div>
  <button
    (click)="submitForm()"
    class="next-button vf-button {{ loading ? 'vf-button--tertiary' : 'vf-button--primary' }} vf-u-margin__left--xxl"
    [disabled]="loading || (!hasDoi && !hasAccession)">
    {{ loading ? '...' : 'Next' }}
  </button>

</div>

<div class="vf-u-margin__top--xxl vf-u-padding__top--xxl">
  <a class="vf-link" routerLink="/projects/register">
    Don't have publication ID yet? Proceed to registering your project
  </a>
</div>


<div *ngIf="projectInCache$ | async" class="vf-u-padding__top--xxl">
  <a class="vf-link"
     (click)="restoreProject()">
    Restore your unsaved project
  </a>
</div>
