<div *ngIf="dataUseRestrictionControl">
  <app-metadata-field [metadata]="dataUseRestrictionMetadata"
                      [control]="dataUseRestrictionControl"
                      [id]="dataUseRestrictionMetadata.key">
  </app-metadata-field>
</div>

<!-- Conditional DUOS ID Input Field -->
<!-- Displayed only if 'GRU' or 'GRU-NCU' is selected -->
<div *ngIf="duosIdControl && ['GRU', 'GRU-NCU'].includes(dataUseRestrictionControl?.value)">
  <app-vf-input
    [formControl]="duosIdControl"
    [label]="duosIdLabel"
    [dataType]="duosIdMetadata.schema.type"
    [helperText]="duosIdHelperText"
    [isRequired]="duosIdMetadata.isRequired"
    [error]="showError(duosIdControl, 'The DUOS ID must be valid. E.g. DUOS-000108')">
  </app-vf-input>
</div>

