<form [formGroup]="form">

  <!-- Data Use Restriction Dropdown -->
  <app-metadata-field
    [metadata]="metadataForm.get('project.content.data_use_restriction')"
    [control]="metadataForm.getControl('project.content.data_use_restriction')"
    [id]="'dataUseRestriction'">
  </app-metadata-field>

  <!-- Conditional DUOS ID Input Field -->
  <!-- Displayed only if 'GRU' or 'GRU-NCU' is selected -->
  <div *ngIf="form.get('data_use_restriction').value === 'GRU' || form.get('data_use_restriction').value === 'GRU-NCU'">
    <app-vf-input
      [formControl]="duosIdCtrl"
      [label]="'DUOS ID'"
      [dataType]="'string'"
      [helperText]="'Enter the DUOS dataset ID if the project is registered for managed access.'"
      [isRequired]="true"
      [error]="showError(duosIdCtrl, 'The DUOS ID must be valid. E.g. DUOS-000108')">
    </app-vf-input>
  </div>

</form>
