<h1 class="vf-text vf-text-heading--2">{{title}}</h1>
<br/>
<br/>

<mat-tab-group>
  <mat-tab label="1. Project">
    <ng-container *ngIf="schema">
      <div class="vf-u-margin__top--xxl">&nbsp;</div>
      <app-metadata-form name="project"
                         [useVf]="true"
                         [schema]="projectIngestSchema"
                         [data]="projectFormData"
                         [config]="config"
                         [selectedTabKey]="projectFormTabKey"
                         (cancel)="onCancel($event)"
                         (back)="decrementProjectTab()"
                         (tabChange)="onTabChange($event)"
                         (save)="onSave($event)">
      </app-metadata-form>
    </ng-container>
  </mat-tab>
  <mat-tab label="2. Experiment Information" disabled></mat-tab>

  <ng-container *ngIf="userIsWrangler">
    <mat-tab label="3. Upload" disabled></mat-tab>
    <mat-tab label="4. View Metadata" disabled></mat-tab>
    <mat-tab label="5. View Data" disabled></mat-tab>
  </ng-container>

  <ng-container *ngIf="!userIsWrangler">
    <mat-tab label="3. Send" disabled></mat-tab>
  </ng-container>
</mat-tab-group>
