<p *ngIf="initialLoading">Loading...</p>

<ng-container *ngIf="dataSource.page$ | async as page">
  <ngx-datatable #datatable
                 *ngIf="!initialLoading && (rows && (rows.length > 0))"
                 class="material expandable"
                 [columnMode]="'force'"
                 [rows]="rows"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="40"
                 [rowIdentity]="getRowId"
                 [scrollbarH]="true"
                 [count]="page.totalElements"
                 [offset]="dataSource.requestedOffset$ | async"
                 [limit]="page.size"
                 [loadingIndicator]="(dataSource.loading$ | async) && !(dataSource.polling$ | async)"
                 [externalPaging]="page"
                 (page)='setPage($event)'>

    <ng-container *ngFor="let column of getAllColumns(rows)">
      <ngx-datatable-column prop="{{column}}">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="!isUrl(value)" title="{{value}}">{{value}}</span>
          <span *ngIf="isUrl(value)">
          <a target="_blank" href="{{value}}">
            <mat-icon matTooltip="See Ingest API JSON" [ngStyle]="{'color': 'lightgrey'}">link</mat-icon>
          </a>
        </span>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>

  </ngx-datatable>
</ng-container>
<p style="text-align: center" *ngIf="!dataSource && rows.length == 0">There's no data</p>
