<ng-container>
  <h3 class="vf-u-margin__top--xxl vf-text vf-text-heading--4">Submit To SCEA</h3>
  <ng-container>
    <p>You have entered all necessary information per Human Cell Atlas standards. That’s awesome!
      Now you can proceed to submit your dataset to SCEA.</p>
    <br/>
    <p>First, check that your dataset meets the suitability
    criteria for the hca2scea tool as listed below:</p>

    <div>
      <mat-checkbox labelPosition="after">
        The technology type(s) is 1 of the following:
      </mat-checkbox>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            10X 3' v2
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            10X 3' v3
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Smart-seq2
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Drop-seq
          </li>
        </ul>
    </div>
    <div>
      <mat-checkbox labelPosition="after">
        The dataset does not consist of pooled donors, pooled samples or pooled cell suspensions.
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox labelPosition="after">
        The dataset consists of 1 species type. The list of donors are all Human or all Mouse.
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox labelPosition="after">
        If cell lines, organoids, or both are included, they are each linked to the specimen and donor from which
        they are derived.
      </mat-checkbox>
    </div>
  </ng-container>

</ng-container>

  <br/>

<p>If your dataset is suitable, please fill in the hca2scea command-line arguments below, and click Submit to convert your dataset to
  SCEA MAGE-TAB files.</p>
<br/>
<form [formGroup]="sceaForm" (ngSubmit)="onFilledForm()">
  <label for="ex3">Project UUID   </label>
  <input class="form-control" id="ex3" type="text" placeholder="141f5880-9e23-4103-a625-dc4c36ca9220" formControlName="project_uuid">
  <br/>
  <label for="ex3">Accession Number   </label>
  <input class="form-control" id="ex3" type="text" placeholder="30" formControlName="accession_num">
  <br/>
  <label for="ex3">Curator Initials   </label>
  <input class="form-control" id="ex3" type="text" placeholder="AD" formControlName="curator">
  <br/>
  <label for="ex3">Experiment Type   </label>
  <input class="form-control" id="ex3" type="text" placeholder="differential" formControlName="experiment_type">
  <br/>
  <label for="ex3">Factor Values   </label>
  <input class="form-control" id="ex3" type="text" placeholder="disease" formControlName="factor_values">
  <br/>
  <label for="ex3">Public Release Date   </label>
  <input class="form-control" id="ex3" type="text" placeholder="2022-01-13" formControlName="public_release_date">
  <br/>
  <label for="ex3">HCA Release Date   </label>
  <input class="form-control" id="ex3" type="text" placeholder="2022-02-15"  formControlName="hca_release_date">
  <br/>
  <label for="ex3">Study Accession   </label>
  <input class="form-control" id="ex3" type="text" placeholder="SRP259912"  formControlName="study_accession">
  <br/>
  <button class="vf-button vf-button--sm vf-button--primary" type="submit" *ngIf="submitLink" [disabled]="!sceaForm.valid" (click)="requestConvertToSCEA()">
  Convert To SCEA
</button>
</form>
