<ng-container>
  <h3 class="vf-u-margin__top--xxl vf-text vf-text-heading--4">Submit To SCEA</h3>
  <ng-container>
    <p>You have entered all necessary information per Human Cell Atlas standards. That’s awesome!</p>
    <p>Now you can proceed to submit your dataset to SCEA. Please fill in the hca2scea command-line
      arguments below, and click Submit to convert your dataset to SCEA MAGE-TAB files.</p></ng-container>
</ng-container>

<br/>
<br/>

<ng-container>
  <button mat-raised-button color="primary" *ngIf="submitLink">Submit To SCEA</button>
</ng-container>
