<form *ngIf="done" class="vf-form" [formGroup]="metadataForm.formGroup" (ngSubmit)="onSubmit($event)">
  <ng-container *ngIf="visibleTabs.length > 1">
    <app-vf-tabs *ngIf="!!useVf" (selectedIndexChange)="onSelectedIndexChange($event)" [selectedIndex]="lookupTabIndex(selectedTabKey)">
      <ng-container *ngFor="let tab of visibleTabs">
        <app-vf-tab title="{{tab.title}}">
          <ng-container *ngFor="let item of tab.items">
            <app-metadata-form-item
              [item]="item"
              [metadataForm]="metadataForm">
            </app-metadata-form-item>
          </ng-container>
        </app-vf-tab>
      </ng-container>
    </app-vf-tabs>

    <mat-tab-group *ngIf="!useVf"
                   (selectedIndexChange)="onSelectedIndexChange($event)"
                   [selectedIndex]="lookupTabIndex(selectedTabKey)">
      <ng-container *ngFor="let tab of visibleTabs">
        <mat-tab>
          <div>
            <ng-template mat-tab-label>
              <label [matTooltip]="metadataForm.get(tab.key) ? metadataForm.get(tab.key).schema.description : ''">
                {{tab.title}}
              </label>
            </ng-template>
            <div class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
              <ng-container *ngFor="let item of tab.items">
                <app-metadata-form-item
                  [item]="item"
                  [metadataForm]="metadataForm">
                </app-metadata-form-item>
              </ng-container>
            </div>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </ng-container>
  <div *ngIf="visibleTabs.length === 1" class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
    <ng-container *ngFor="let item of visibleTabs[0].items">
      <app-metadata-form-item
        [item]="item"
        [metadataForm]="metadataForm">
      </app-metadata-form-item>
    </ng-container>
  </div>
  <ng-container *ngIf="!config.viewMode">
    <div class="vf-u-margin__top--xxl vf-u-margin__bottom--xxl">
      <div class="form-actions">
        <div class="vf-u-margin__bottom--xxl">
          <div
            *ngIf="selectedTabKey === visibleTabs[visibleTabs.length - 1].key && allowValidationOverride"
            class="vf-u-margin__bottom--xxl"
          >
            <mat-checkbox
              [(ngModel)]="overrideValidation"
              [ngModelOptions]="{standalone: true}"
            >
              Ignore validation errors
            </mat-checkbox>
          </div>
          <a class="vf-link vf-u-margin__right--xxl" *ngIf="selectedTabKey !== visibleTabs[0].key" (click)="onBack($event)">
            < Back
          </a>

          <a *ngIf="config.showResetButton" class="vf-button vf-button--tertiary vf-button vf-u-margin__left--xxl"
             (click)="onReset($event)">
            Reset
          </a>

          <button
            *ngIf="selectedTabKey !== visibleTabs[visibleTabs.length - 1].key"
            (click)="onSubmit($event)"
            class="next-button vf-button--primary vf-button vf-u-margin__left--xxl">Next
          </button>
          <button
            *ngIf="selectedTabKey === visibleTabs[visibleTabs.length - 1].key"
            class="next-button vf-button--primary vf-button"
          >
            {{config.submitButtonLabel ? config.submitButtonLabel : 'Finish'}}
          </button>
        </div>
        <a *ngIf="config.showCancelButton" class="vf-link vf-u-margin__top--xxl" (click)="confirmCancel($event)">
          {{config.cancelButtonLabel ? config.cancelButtonLabel : 'Cancel'}}
        </a>
      </div>
    </div>
  </ng-container>
</form>
