@import "../shared/components/submission-state/submission-state";
.mat-basic-chip{
  padding: 7px 12px;
}

#validation-error-types {
  list-style: none;
  padding: 0;
  marging: 0;

  a {
    color: $danger-color;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}
