<div fxLayout="column" *ngIf="isLoading">
  Loading...
</div>
<div fxLayout="column" *ngIf="!isLoading">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2 class="vf-text vf-text-heading--2">
      Submission {{projectShortName ? ' - ' + projectShortName : ''}}
    </h2>
    <div fxLayoutAlign="space-between center">
      <a mat-icon-button *ngIf="projectUuid" [routerLink]="['/projects/detail']"
         [queryParams]="{uuid:projectUuid}">
        <mat-icon matTooltip="Go back to project's page">keyboard_backspace</mat-icon>
      </a>
      <button mat-icon-button *ngIf="isLinkingDone" (click)="downloadFile()">
        <mat-icon matTooltip="Download spreadsheet">get_app</mat-icon>
      </button>
      <button mat-icon-button *ngIf="submissionEnvelope && submissionEnvelope.open"
              (click)="onDeleteSubmission(submissionEnvelope)">
        <mat-icon matTooltip="Delete submission">delete_forever</mat-icon>
      </button>
      <a mat-icon-button target="_blank"
         href="{{submissionEnvelope?._links?.self?.href}}">
        <mat-icon matTooltip="See Ingest API JSON">open_in_new</mat-icon>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="selectedIndex=4">
          <mat-icon>upload_file</mat-icon>
          <span>Import a spreadsheet</span>
        </button>
      </mat-menu>
      <app-submission-state [state]="submissionState">{{submissionState}}</app-submission-state>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <div class="vf-text-body vf-text-body--2">{{projectTitle}}</div>
      <div class="vf-text-body vf-text-body--3">{{getContributors(project)}}</div>
    </div>
    <div></div>
  </div>

  <div>
    <div *ngIf="validationSummary && validationSummary.totalInvalid > 0">
      <p>Your validation returned <span class="error-text">{{validationSummary.totalInvalid}} error(s)</span>. Review
        and fix them below.</p>

      <ul id="validation-error-types">
        <li *ngIf="validationSummary.invalidBiomaterials > 0">
          Biomaterials:
          <a href="javascript: void(0)"
             (click)="navigateToTab(submissionTab.BIOMATERIALS, { dataSource: biomaterialsDataSource, filterState: 'Invalid'})">
            {{validationSummary.invalidBiomaterials}} error(s)
          </a>
        </li>
        <li *ngIf="validationSummary.invalidProcesses > 0">
          Processes:
          <a href="javascript: void(0)"
             (click)="navigateToTab(submissionTab.PROCESSES, { dataSource: processesDataSource, filterState: 'Invalid' })">
            {{validationSummary.invalidProcesses}} error(s)
          </a>
        </li>
        <li *ngIf="validationSummary.invalidProtocols > 0">
          Protocols:
          <a href="javascript: void(0)"
             (click)="navigateToTab(submissionTab.PROTOCOLS, { dataSource: protocolsDataSource, filterState: 'Invalid' })">
            {{validationSummary.invalidProtocols}} error(s)
          </a>
        </li>
        <li *ngIf="validationSummary.invalidFiles > 0">
          Data files:
          <ng-container *ngIf="validationSummary.fileMetadataErrors">
            <a href="javascript: void(0)"
               (click)="navigateToTab(submissionTab.FILES, { dataSource: filesDataSource, filterState: 'Invalid Metadata'})">
              {{validationSummary.fileMetadataErrors}}
              <ng-container [ngPlural]="validationSummary.fileMetadataErrors">
                <ng-template ngPluralCase="one">metadata error</ng-template>
                <ng-template ngPluralCase="other">metadata errors</ng-template>
              </ng-container>
            </a>
          </ng-container>
          <ng-container *ngIf="validationSummary.fileMetadataErrors && validationSummary.fileErrors">,</ng-container>
          <ng-container *ngIf="validationSummary.fileErrors">
            <a href="javascript: void(0)"
               (click)="navigateToTab(submissionTab.FILES, { dataSource: filesDataSource, filterState: 'Invalid File'})">
              {{validationSummary.fileErrors}}
              <ng-container [ngPlural]="validationSummary.fileErrors">
                <ng-template ngPluralCase="one">file error</ng-template>
                <ng-template ngPluralCase="other">file errors</ng-template>
              </ng-container>
            </a>
          </ng-container>
          <ng-container
            *ngIf="(validationSummary.fileMetadataErrors || validationSummary.fileErrors) && validationSummary.missingFiles">
            ,
          </ng-container>
          <ng-container *ngIf="validationSummary.missingFiles">
            <a href="javascript: void(0)"
               (click)="navigateToTab(submissionTab.FILES, { dataSource: filesDataSource, filterState: 'Not Uploaded'})">
              {{validationSummary.missingFiles}}
              <ng-container [ngPlural]="validationSummary.missingFiles">
                <ng-template ngPluralCase="one">file missing</ng-template>
                <ng-template ngPluralCase="other">files missing</ng-template>
              </ng-container>
            </a>
          </ng-container>
        </li>
      </ul>
    </div>

    <div *ngIf=" project?.validationErrors && project?.validationErrors.length > 0">
      <span class="vf-text-body vf-text-body--3 vf-u-text-color--red">Project is Invalid. Please go back and edit the project.</span><br/>
      <ng-container *ngFor="let error of project?.validationErrors">
        <span class="vf-text-body vf-text-body--3 vf-u-text-color--red">* {{error.userFriendlyMessage}}</span>
        <br/>
      </ng-container>
    </div>
  </div>
  <br/>
  <br/>
  <mat-tab-group *ngIf="submissionEnvelopeId" [(selectedIndex)]="selectedIndex">
    <mat-tab label="Biomaterials">
      <ng-template matTabContent>
        <app-metadata-list [dataSource]="biomaterialsDataSource"
                           [config]="{displayLinking: true}"
                           [expectedCount]="manifest ? manifest['expectedBiomaterials'] : null"></app-metadata-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Processes">
      <ng-template matTabContent>
        <app-metadata-list [dataSource]="processesDataSource"
                           [expectedCount]="manifest ? manifest['expectedProcesses'] : null"></app-metadata-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Protocols">
      <ng-template matTabContent>
        <app-metadata-list [dataSource]="protocolsDataSource"
                           [config]="{displayLinking: true}"
                           [expectedCount]="manifest ? manifest['expectedProtocols'] : null"></app-metadata-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Data" [disabled]="!submissionEnvelopeId">
      <ng-template matTabContent>
        <app-files
          [dataSource]="filesDataSource"
          [submissionEnvelope]="submissionEnvelope"
          [manifest]="manifest">
        </app-files>
      </ng-template>
    </mat-tab>

    <mat-tab label="Spreadsheet">
      <ng-template matTabContent>
        <div class="vf-u-margin__top--xxl">
          <h3 class="vf-text vf-text-heading--4">Import a spreadsheet</h3>
          <p>You could import a spreadsheet to update the metadata in this submission.
            The spreadsheet should contain the uuid's of the metadata you want to update.</p>
          <p>Please note that updating the linking between entities is not supported via spreadsheets yet.</p>

          <div class="vf-u-margin__top--xxl">
            <app-upload [projectUuid]="projectUuid" [submissionUuid]="submissionEnvelopeUuid"
                        [isUpdate]="true"></app-upload>
            <br/>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Assays" *ngIf="isSubmitted">
      <ng-template matTabContent>
        <app-metadata-list
          [dataSource]="bundleManifestsDataSource"
          [config]="{displayAll: true, hideWhenEmptyRows: true}">
        </app-metadata-list>
      </ng-template>
    </mat-tab>

    <mat-tab label="Accessions" *ngIf="displayAccessionTab()">
      <ng-template matTabContent>
        <br/>
        <app-data-table [dataSource]="archiveEntityDataSource"
                        [idColumn]="'alias'"
                        [columns]="['type', 'accession', 'alias', '_links.self.href']">
        </app-data-table>
      </ng-template>
    </mat-tab>

    <mat-tab
      label="Validate"
      [disabled]="submissionState !== 'Valid'"
      *ngIf="displayValidateAndSubmitTabs()"
    >
      <h3 class="vf-u-margin__top--xxl vf-text vf-text-heading--4">Graph Validation</h3>

      <ng-container *ngIf="graphValidationState !== 'Valid'; else graphValid">
        <p>To finalize the submission please validate using the
          <a href="https://github.com/ebi-ait/ingest-graph-validator" target="_blank">Ingest Graph Validator</a>
          to proceed.
        </p>
        <p>
          Graph Validation State: {{graphValidationState}}
        </p>
      </ng-container>

      <ng-template #graphValid>
        <p>
          You've validated the submission with the graph validator, awesome! You can proceed to the Submit tab.
        </p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Submit" [disabled]="!isValid" *ngIf="displayValidateAndSubmitTabs()">
      <ng-template matTabContent>
        <app-submit
          [project$]="project$"
          [submissionEnvelope$]="submissionEnvelope$"
          [submitLink]="submitLink"
          [exportLink]="exportLink"
          [cleanupLink]="cleanupLink"
          [isSubmitted]="isSubmitted"
          [submissionUrl]="url"
          [submissionEnvelopeId]="submissionEnvelopeId"
          [isLinkingDone]="isLinkingDone"
          [manifest]="manifest">
        </app-submit>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
