<h1 class="vf-text vf-text-heading--2">
  New Project - start
</h1>

<app-vf-input
  [label]="'Publication DOI'"
  [dataType]="'string'"
  [helperText]="'Get started by entering a DOI to help us retrieve your project information'"
  [formControl]="publicationDoiCtrl"
  [error]="showError(publicationDoiCtrl)"
  [isRequired]="true"
></app-vf-input>

<button
        class="next-button vf-button vf-button--primary vf-button vf-u-margin__left--xxl"
        (click)="submitForm()">Next
</button>


<div class="vf-u-margin__top--xxl vf-u-padding__top--xxl">
  <a class="vf-link" href="/projects/new">
    Don't have publication ID yet? Proceed to registering your project
  </a>
</div>


