<!--TODO fix formatting-->
<h1 class="vf-text vf-text-heading--2">
  New Project
</h1>

<app-vf-input
  [label]="'Publication DOI'"
  [dataType]="'string'"
  [helperText]="'Get started by entering a DOI to help us retrieve your project information'"
  [formControl]="publicationDoiCtrl"
  [error]="showError(publicationDoiCtrl)"
  [isRequired]="true"
></app-vf-input>

<button [disabled]="publicationDoiCtrl.invalid"
        class="next-button vf-button vf-button--primary vf-button vf-u-margin__left--xxl"
        (click)="onClick()">Next
</button>

<button
  class="next-button vf-button vf-button--primary vf-button vf-u-margin__left--xxl" (click)="onClick()">I don't have a Publication DOI for this project
</button>

